<!-- Toolbar -->
<div class="d-flex flex-column flex-md-row p-1 px-md-4 border-bottom shadow-sm initToolbar" id="">
  
  <div class="row" style="font-size: 8px; color: white; text-align: center;">
    <div class="col-md-3">30 DAY SATISFACTION CUARANTEE</div>
    <div class="col-md-3">FREE DELIVERY ORDERS OVER $0.00</div>
    <div class="col-md-3"> 50.000+ HAPPY CUSTOMERS</div>
    <div class="col-md-3">100% MONEY BACK CUARANTEE</div>

  </div>
  
</div>

<!-- Toolbar -->
<div class="d-flex flex-column flex-md-row p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  
  <span class="title">
    <img class="backIcon" src="../assets/svg/arrow-left.svg">
    Información crediticia
  </span>
  
</div>

<div class="container" role="main">
  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8 col-sm-12 col-lg-8">
      <div class="card border-0" style="border-radius: 5px;">
        <div class="card-body">

          <h3 class="card-title cardTitle">Información crediticia</h3>
          <div class="addBtn">
            <span class="mr-2 addText">Agregar</span> <img class="plusCircle" src="../assets/svg/plus.svg">
          </div>
          <h6 class="card-subtitle m-1 cardSubtitle">Si cuenta con línea(s) de crédito vigentes, regístralas aquí.</h6>

          <ul class="list-group list-group-flush">
            <li class="list-group-item mt-4">
              <p class="mb-0">Banca de desarrollo</p> 
              <img class="deleteBtn" src="../assets/svg/trash.svg">
              <p class="text-muted">Rango de crédito: 5 - 10 millones</p> 
            </li>
            <li class="list-group-item mt-4 border-bottom" > 
              <p class="mb-0">Privada</p> 
              <img class="deleteBtn" src="../assets/svg/trash.svg">
              <p class="text-muted">Rango de crédito: 5 millones</p> 
            </li>
          </ul> 
          <br>
          <span style="font-size: 16px;
          letter-spacing: 0.57px;
          line-height: 20px;">¿Otorgas crédito a tus clientes?</span>
          <br>

          <div class="radio-item">
              <input type="radio" id="ritema" name="ritem" value="ropt1">
              <label for="ritema">Sí</label>
          </div>
          
          <div class="radio-item ml-5">
              <input type="radio" id="ritemb" name="ritem" value="ropt2">
              <label for="ritemb">No</label>
          </div>
        </div>
      </div> 
    </div>

    <div class="col-md-2"></div>
  </div>


  

</div>

<router-outlet></router-outlet>