<!-- Toolbar -->
<div class="d-flex flex-column flex-md-row p-1 px-md-4 border-bottom shadow-sm initToolbar" id="">
  <div class="container">
    <div class="row p-2 text-center" style="font-size: 8px; color: white;">
      <div class="col-md-3">30 DAY SATISFACTION GUARANTEE</div>
      <div class="col-md-3">FREE DELIVERY ORDERS OVER $0.00</div>
      <div class="col-md-3">50.000+ HAPPY CUSTOMERS</div>
      <div class="col-md-3">100% MONEY BACK GUARANTEE</div>
    </div>
  </div>  
</div>

<!-- Toolbar -->
<div class="d-flex flex-column flex-md-row p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <img class="" src="../assets/jpg/clarifion_Logo1.jpg">
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-3"></div>
    </div>
  </div>
  
</div>

<div class="container">
  <div class="row mb-4">
    <div class="col-md-3 col-sm-12"></div>
    <div class="col-md-6 col-sm-12 text-center">
      <h3>
        Wait! Your order in progress
      </h3>
      <small>Lorem ipsum dolor sit amet, consectetur adipiscing</small>
    </div>
    <div class="col-md-3 col-sm-12"></div>
  </div>

  <div class="row p-2 mb-3 text-center" style="font-size: small;">
    <div class="col-md-3">Step 1 : Cart Review</div>
    <div class="col-md-3">Step 2 : Checkout</div>
    <div class="col-md-3">Step 3 : Special Offer</div>
    <div class="col-md-3">Step 4 : Confirmation</div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <div class="card border-0" style="border-radius: 5px;">
        <div class="card-body row">
          <div class="col-md-6">
            <img class="img-fluid" src="../assets/jpg/image-body-one.jpg" alt="">
          </div>
          <div class="col-md-6">
            <div class="row">
              <p>ONE TIME ONLY special price for 6 extra Clarifion for only $14 each ($84.00 total!)</p>
            </div>

            <div class="row">
              <div class="col-sm-2 bg-aqua" style="border-radius: 5px;">
                <img class="img-fluid p-1" src="../assets/jpg/image-removebg-preview.jpg" alt="">
              </div>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6"><p class="mb-0 pb-0">Clarifion Air lonzer</p></div>
                  <div class="col-sm-6" style="text-align: end;"><small class="text-muted">$180</small><b><small class="ml-2 text-aqua">$84</small></b></div>
                </div>
                <div class="row mt-0 pt-0">
                  <div class="col-md-12 pl-2 pt-0 mt-0"> 
                    <img class="img-fluid p-1" src="../assets/jpg/star-vector.jpg"> 
                    <img class="img-fluid p-1" src="../assets/jpg/star-vector.jpg"> 
                    <img class="img-fluid p-1" src="../assets/jpg/star-vector.jpg"> 
                    <img class="img-fluid p-1" src="../assets/jpg/star-vector.jpg"> 
                    <img class="img-fluid p-1" src="../assets/jpg/star-vector.jpg"> 
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 pl-3">
                    <div class="form-check mt-3">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optradio"><small>12 left in stock</small> 
                      </label>
                    </div>
                  </div>
                  <!-- <div class="col-xs-6">
                  </div> -->

                  <div class="col-xs-12 mt-2">
                    <small class="pl-3 text-justify">Simply plug a Clarifion into any standard outlet and replace bulky, expensive air purifiers with a simple.</small>

                  </div>
                </div>
                <div class="row"></div>
                <div class="row"></div>
              </div>
              
            </div>
          </div>

          <!-- <h3 class="card-title cardTitle">Información crediticia</h3>
          <div class="addBtn">
            <span class="mr-2 addText">Agregar</span> <img class="plusCircle" src="../assets/svg/plus.svg">
          </div> 

          <h6 class="card-subtitle m-1 cardSubtitle">Si cuenta con línea(s) de crédito vigentes, regístralas aquí.</h6>
          
          <ul class="list-group list-group-flush">
            <li class="list-group-item mt-4">
              <p class="mb-0">Banca de desarrollo</p> 
              <img class="deleteBtn" src="../assets/svg/trash.svg">
              <p class="text-muted">Rango de crédito: 5 - 10 millones</p> 
            </li>
            <li class="list-group-item mt-4 border-bottom" > 
              <p class="mb-0">Privada</p> 
              <img class="deleteBtn" src="../assets/svg/trash.svg">
              <p class="text-muted">Rango de crédito: 5 millones</p> 
            </li>
          </ul> 
          <br>
          <span style="font-size: 16px;
          letter-spacing: 0.57px;
          line-height: 20px;">¿Otorgas crédito a tus clientes?</span>
          <br>

          <div class="radio-item">
              <input type="radio" id="ritema" name="ritem" value="ropt1">
              <label for="ritema">Sí</label>
          </div>
          
          <div class="radio-item ml-5">
              <input type="radio" id="ritemb" name="ritem" value="ropt2">
              <label for="ritemb">No</label>
          </div>-->
        </div>
      </div> 
    </div>
  </div>
</div>

<router-outlet></router-outlet>